version: '3.9'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart : always
  blue:
    build: .
    restart : always
    environment :
      - SPRING_PROFILES_ACTIVE=dev
      - REDIS_HOST=redis
    ports:
      - "8081:8080"
    depends_on:
      - redis
  green:
    build: .
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - REDIS_HOST=redis
    ports:
      - "8080:8080"
    depends_on:
      - redis
volumes:
  redis-data:
