name: PR Test
 
on:
  pull_request:
    branches: [ develop ] # master branch에 PR을 보낼 때 실행
 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
 
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
 
      # Gradle wrapper 파일 실행 권한주기
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
 
      # Gradle test를 실행한다
      - name: Test with Gradle
        run: ./gradlew --info test
